.my-banner {
    background: #4A90E2;
    height: 50px;
    display: block;
    padding: 5px;
}

.brand {
    color: #FF8744;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.logo {
    height: 40px;
}

.logo-container {
    float: left;
}

.dropdown-menu {
    left: unset;
    right: 5px !important;
}

.agent-profile {
    cursor: pointer;
    height: 40px;
}

.right-menu-item-list {
    float: right;
}