<div id="sidebar-wrapper" >
    <ul class="sidebar-nav">
        <li>
            <a routerLink="/Alarms">Alarms</a>
        </li>
        <li>
            <a routerLink="/Tracks">Tracks</a>
        </li>
        <li>
            <a routerLink="/Journal">Journal</a>
        </li>
        <li>
            <a routerLink="/Calendar">Calendar</a>
        </li>
        <li>
            <a routerLink="/Voice_Notes">Voice notes</a>
        </li>
        <li>
            <a routerLink="/Dream_journal">Dream journal</a>
        </li>        
    </ul>
</div>