
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Description</th>
          <th>Recurrence</th>
          <th>Track</th>
        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let alarm of alarms">
        <td>{{alarm.time}}</td>
        <td>{{alarm.description}}</td>
        <td>{{alarm.recurrence}}</td>
        <td>{{alarm.track.artist + " - " + alarm.track.track_name}}</td>    
        <td><button class='btn'  (click)="gotoAlarm(alarm)">Edit</button>          
      </tr>
    </tbody>
</table>

